.leaflet-container {
  height: 325px;
  width: 325px;
}

body {
  width: 100%;
  height: 100vh;
  background: url("town.png");
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
